body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* ------------- Inicio del header -------------------- */

#header{

    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(img/bannerlinkedin.jpg );
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}

.user-box{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.user-box img {
    border-radius: 50%;
    width: 350px;
    border: 3px solid #6caed5;
}
.user-box h1{
    color: #fff;
    font-weight: bold;
    margin: 10px;

}
.user-box p{
    font-size: 24px;
    color: #fff;
}
.scroll-btn{
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;

}

.scroll-bar span{
    border: 2px solid #fff;
    font-size: 10px;
    border-radius: 30px;

}
scroll-bar{
    animation: mover 1s infinite alternate;
}

@keyframes mover {

  0%{transform: translateY(0);}
  100%{transform: translateY(10px );}
}

/*---------------------------------- Quien soy -----------*/
.about{
    padding-top: 88px;
    margin-bottom: -130px;

}
.profile-img{
    height: 400px;
}
.nav-bar{
    top: 0;
    position: sticky;
    z-index: 2;
}
.navbar{
    background-color: #000;

}
.navbar-brand img {
    height: 60px;

}
.nav-bar .fa-bars{
    font-size: 35px;
    color: #fff;
}
.navbar-toggler{
    outline: none !important;
}
.navbar-nav{
    float: right;
    text-align: right;
}
.nav-link{
    color: #fff !important;
}
.skill-bar p{
    margin-bottom: 0px;
    font-weight: 600 ;

}
.progress{
    border-radius: 16px !important;
    
}
.progress-bar{
    margin-top: -15px;
    border-radius: 16px;
    background: rgb(0, 0, 151) !important;
}
/*------------------------------ Porfolio --------------*/

.porfolio{
    margin-top: 152px ;
    padding-top: 90px;
    padding-bottom: 30px;
    background: #c0bebe;

}
.porfolio h3{
    margin-bottom: 40px;
}
.porfolio img{
    margin-top: 15px;
    margin-left: 50px;
    border: 3px solid black;

}
#img-porf.col{
    display: flex;

    justify-content: space-around;
}

/* -------------------------------- contacto ---------------------- */

.contact{
    padding-top: 50px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(img/monitor-933392_1920.jpg) ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;

}
.contact .row {
    padding: 30px 0;
    font-size: 17px;
}
.contact .col-md-4 .fa {
    padding: 10px;
    font-size: 40px;

}
.contact .btn{
     padding: 10px 25px 10px 25px;
     margin: 5px;
     border-radius: 30px;
     border: 2px solid #fff;
     background: transparent;

}
.contact .btn:focus{
    box-shadow: none !important;
}
.contact .btn:hover{
    border: 2px solid #000 !important ;
    background:  #000 !important;
    transition: 0.6s;
}
.contact .btn .fa {
    margin-right: 10px;

}
.footer{
    background: #000;
    height: 50px;
    margin-top: 50px;
    color: #fff;
    padding-top: 10px;

}


/* ---------------------- iconos sociales ---------------- */
.social-icons a{
   font-size: 50px;
   margin-right: 40px;
   margin-left: 20px;
}